<div class="all">  
  <h1>おいも</h1>
  <h3>おいも一覧</h3>
    <div class="link">
      <%= link_to 'トップページ', oimos_top_path, class:"btn btn-malformation btn-malformation--pastel" %>
      <%= link_to 'recipe投稿一覧', potatos_path, class:"btn btn-malformation btn-malformation--pastel" %>

      <%= link_to "shop新規投稿ページ", oimos_shop_new_path, class:"btn btn-malformation btn-malformation--pastel" %>

      <%= link_to "recipe新規投稿ページ", new_potato_path, class:"btn btn-malformation btn-malformation--pastel" %>
    </div>



  

   <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
   <% end %>
  <div class="oimos-container">
    <% @oimos.each do |t| %>
      <div class="oimo">

        <%= image_tag t.image_url, size: "250x200" if t.image? %>

        <%= t.shop_name %>
        <%= t.adresses %>
        <%= t.shop_about %>

        <%= link_to t.user.name, user_path(t.user.id) %> 
        <%= t.user.email %>

        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= link_to oimo_like_path(id: t.id, oimo_id: t.id), method: :delete do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                  <p>いいねを取り消す</p><%= t.likes.count %>
              <% end %>
          <% else %>
              <%= link_to oimo_likes_path(id: t.id, oimo_id: t.id), method: :post do %>
                  <i class="far fa-heart"></i><%= t.likes.count %>
                  <p>いいね</p><%= t.likes.count %>
              <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <p>いいねの数 = </p><%= t.likes.count %>
        <% end %>

        <%= link_to "詳細へ", oimo_path(t.id) %>
        <%= link_to "編集する", edit_oimo_path(t.id) %>
        <%= button_to "削除する", oimo_path(t.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <div class="tag">
    <h3>タグ検索のチェックボックス</h3>
    <%= form_tag({controller:"oimos",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
        <div class = 'check_box'> 
          <%= check_box :tag_id, t.tag_name %><%= t.tag_name %><%= "(#{t.oimos.count})" %>
        </div>
      <% end %>
      <%= submit_tag '検索' %>
    <% end %>

    <h3>タグリスト</h3>
    <% @tag_list.each do |list| %>
      #<%= link_to list.tag_name, tag_oimos_path(tag_id: list.id) %>
      <%= "(#{list.oimos.count})" %>
    <% end %>
  </div>

  <% @oimos.each do |oimo| %> 

        #<%= link_to tag.tag_name, tag_oimos_path(tag_id: tag.id) %>
  <% end %>
</div>